body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Courier New', Courier, monospace;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #023047;
}

header{
    background-color: #219ebc;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 12px;
}

main{
    flex: 1;
    flex-direction: column;
    display: flex;
    /* justify-content: center; lo que cambiamos hoy para arregarlo nosotros*/
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

#login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
}

input{
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: #219ebc solid 1px;
}

input:focus{
    border: #fb8500 solid 1px;
    outline: none;
}

#login-box a{
    text-decoration: none;
    background-color: #fb8500;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
}

#login-box a:hover{
    background-color: #c1121f;
}

.primary{
    background-color: #ffb703;
}

.secondary{
    background-color: #fb8500;
}

footer{
    display: flex;
    background-color: #023047;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    justify-content: center;
}

footer i{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}

.menu ul li i{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-align: center;
    padding: 10px 15px;
}

.menu{
    list-style: none;
    padding: 0;
    background-color: #023047;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;

}

.menu li a:hover{
    background-color: #ef8354;

}

.menu li{
    display: inline-block;
    text-align: center;

}


#profile{
    display: flex;
    background-color: #fff;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

#profile img{
    width: 90px;
}



#gallery{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
}


#gallery img{
    width: 200px;    
}